@model MprojectLastVersion.DataDB.MailAddress

<h4>MailAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditM">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MailAddress1" class="control-label"></label>
                <input asp-for="MailAddress1" name="mailaddress"class="form-control" />
                <span asp-validation-for="MailAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" name="firstname"class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" name="lastname" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
      
                 <input asp-for="Status" type="text" id="txt" name="select" readonly="readonly"class="form-control" />
                <select name="durum",new onchange="selectedtext(this)">
                     <option value="1">TRUE</option>
                      <option value="0">FALSE</option>
                </select>
                 <script>
                function selectedtext(ddlitem)
                
                {
                    var selvalue=ddlitem.value;
                    var seltext=ddlitem.options[ddlitem.selectedIndex].innerHTML;
                    $('#txt').val(selvalue);
                    $('#dgr').val(seltext);
                }
                </script>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" name="date"class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
