
@{
      @Html.ActionLink("MailAddressDetails", "MailAddressDetails") <h1>Total E-mail:@TempData["mcount"]</h1><br />
   @Html.ActionLink("Campaigns", "Campaigns")<h1>Total Campaigns:@TempData["ccount"]</h1><br />
   @Html.ActionLink("Groups", "Groups")<h1>Tootal Group:@TempData["gcount"]</h1>




   
}
